.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.grid-item {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
  cursor: pointer; 
}
.grid-item:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  fill="none" stroke="%23000000" width="30px" height="30px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}

.count-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.grid-container {
  text-align: center;
}

